---
import { Board, Sound, db } from "@/lib/schema";
import { eq, sql } from "drizzle-orm";
import MainLayout from "@/layouts/MainLayout.astro";
import { Card, CardContent, CardHeader } from "@/components/ui/card";
import { Button } from "@/components/ui/button";

if (Astro.request.method === "POST") {
  const [b] = await db.insert(Board).values({ name: "New Board" }).returning();
  return Astro.redirect(`/boards/${b.id}/edit`);
}

const boards = await db
  .select({
    id: Board.id,
    name: Board.name,
    count: sql`COUNT(${Sound.id})`.mapWith(Number),
  })
  .from(Board)
  .leftJoin(Sound, eq(Sound.boardId, Board.id))
  .groupBy(sql`${Board.id}`);
---

<MainLayout>
  <div class="max-w-screen-xl m-auto flex flex-col gap-3">
    <form method="POST">
      <Button type="submit">New board +</Button>
    </form>
    <div class="grid grid-cols-3 gap-3">
      {
        boards.map((b) => (
          <Card>
            <CardHeader>
              <h2>
                <a href={`/boards/${b.id}`}>{b.name}</a>
              </h2>
            </CardHeader>
            <CardContent>
              <p>
                {b.count} sound{b.count === 1 ? "" : "s"}
              </p>
            </CardContent>
          </Card>
        ))
      }
    </div>
  </div>
</MainLayout>
